@charset "utf-8";
/* CSS Document */
* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
	border-style: none;
	list-style-type: none;
	box-sizing: border-box;
	 
}

html {
	overflow-y:scroll;
}

body  {
	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
	background-image:url(images/Penguinbg.png);
	background-position:top;
}



main {
	width:100%;
	display: block;
}

#headerimg {
	margin:30px auto 30px auto;
	width:1400px;
	
}



#headerbutton  {

	background-color:#000;
	opacity:0;
	width:280px;
	height:100px;
	margin:100px auto auto auto;
	position:absolute;
	right:500px;
	left:500px;

}



#headerbutton a:hover {
	
	border:1px solid #000;
	
	
}


header {
	
	width:100%;
	
}

#sectionwrapper {
	
	width:1400px;
	margin:auto auto 50px auto;
}

#logo {
	
	margin:10px 50px;
}

#donate {
	float:right;
	right:0;
	
}
#primary {
	background-color:#464646;
	font-weight:normal;
	height:50px;

}



#primaryul {
	justify-content: space-between;
	display:flex;
	height:100%;
	list-style-type: none;
    margin:auto;
    width:800px;
    overflow: hidden;
    background-color: #464646;
	
}


#primaryul li a {
	font-family: 'Montserrat', sans-serif;
	display: block;
    color: #FFf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

#primaryul li {
	width:100%;
}






#primary a {
	text-decoration: none;
	font-size: 16px;
	color:#fff;
}

li a.active {
	width:100%;
    color: #fff;
    background-color: #FFA614;
}

#primaryul li a:hover:not(.active) {
    background-color: #ddd;
}




nav {

	height:70px;
}

#hiddennav li {
	font-size:16px;
	
}

#hiddennav a {
	color:#fff;
}

#hiddennav a:hover {
	color:#fff;
	border-bottom:2px solid #fff;
	text-decoration:none;
}

#secondnav {

	width:100%;
}

#navappear {
	
	

}
section {
	margin:10px auto;
	width:100%;

}


#wrapper {
	max-width:100%;
	
}

#quadwrap {
	max-width:1500px;
	display:flex;
	margin: auto;
	height:auto;
	justify-content:space-between;
}

#quadwrap img {
	display:block;
	margin:auto;
	max-width:100%;
	
}

#left {
	position:relative;
	height:300px;
	width:300px;
	
}

#mid {
	position:relative;
	height:300px;
	width:300px;
	
	
}

#right {
position:relative;
	height:300px;
	width:300px;
	
}

#farright {
	
	height:100%;
	width:300px;
	
		
	
}
#farright ul {

	height:auto;
	width:300px;
	margin:auto;
	display:block;
	padding: 5px 10px;

	
	
}

.triwrap {
	
	background-color:#efefef;
	border-radius:12px;
	max-width:1100px;
	display:flex;
	margin: 50px auto auto auto;
	height:auto;
	justify-content:space-around;
}

.triwrap h1 {
	font-size:24px;
	color:#FFA614;
}

.eduleft {
	width:300px;
	
}

.edumid {
	width:300px;
	
}

.eduright {
	width:300px;
	
}

.triwrap ul {
	

}

.triwrap ul li{
	list-style-type:circle;
	line-height:150%;
	margin-top:15px;
}

.triwrap3 {

	width:670px;
	display:flex;
	margin-left:-370px;
	margin-top:50px;
	float:left;
	justify-content: space-between;
}

#eduleft3 {

	width:300px;
}

#eduright3 {
	
	width:300px;
}




#newsletter a{
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
#newsletter {
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
.centertext {
	width:50%;
	margin:auto;
}

#farright li {
	align-items:center;
	padding-left: 40px;
	line-height: 40px;
	background: url("images/penguin-icon.png") 0 50% no-repeat;
	
}

 .topnav .search-container {
  	float: right;
	margin-top:-53px;
	 

}

 .topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
	border: 1px solid #6E8EE5;
	border-right:none;
}

 .topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #6E8EE5;
	border-left:none;
  cursor: pointer;
}

.search-container {
	
	
	
}

affix {
      top: 0;
      width: 100%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexbox {
	display:flex;
	width:600px;
}

footer {

	display:table;
	width:100%;
	height: 38px;
	bottom:0;
	border-top:1px solid #464646;
	padding:0px 15px 0px;
	position:fixed;
	background-color:#464646;
}

#footercontent {
	clear: both; 
	height:25px;
	position:inline;
	vertical-align: middle;
	display:flex;
	margin-left:50px;
	float:left;
	width:200px;
	justify-content:space-between;

}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#social {


	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
}

footer img:hover {


}
#social {
	
	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	color:#E78903;
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
} 

footer img:hover {


}

#current-page {
	color:#FFAE00;
}


#aboutflex {
	width:1000px;
	margin:50px auto auto auto;
	display:flex;
	justify-content: space-around;
}

#aboutright {
	width:400px;
}


#aboutright h1 {
	font-size:24px;
	color:#FFA614;
	padding-left: 15px;
}

#aboutright li {
	list-style-type:circle;
	line-height:150%;
}

#aboutright ul {
	
	margin-left: 25px;
}

#aboutright p{
padding: 15px 15px 15px 15px;
}

#aboutleft {

	width:400px;
}

#aboutleft img {
	margin-top:10px;
}

#contactflex {
	width:1000px;
	margin:auto;
	display:flex;

	justify-content: space-around;
}

#contactright {
	width:400px;
	padding: 15px 15px 15px 15px;
}



#contactleft {
	padding: 15px 15px 15px 15px;
	width:400px;
	
}
#contactright h1 {
	font-size:24px;
	color:#FFA614;
}

#contactright h2 {
	font-size:18px;
	color:#FFA614;
}

#contactleft h1 {
	font-size:24px;
	color:#FFA614;
}


#lpflex {
	width:1200px;
	margin:50px auto auto auto;
	display:flex;
	justify-content: space-around;
	
}

#lpright p {
	
}

#lpright {
	padding: 15px 15px 15px 15px;
	width:700px;
	color:#000;
}

#lpright h1 {
	font-size:24px;
	color:#ffa614;
	
}

#lpright h2 {
	font-size:18px;
	color:#ffa614;
	
}

#lpright ul {
	margin-left:15px;
	
}

#lpright li {
	list-style-type:circle;
	line-height:150%;
	
}



#lpleft {
	padding: 15px 15px 15px 15px;
	width:400px;
}

#lph1 {
	font-size:24px;
	color:#FFA614;
	padding-left: 15px;
	
}
iframe {
	margin-top:40px;
	height:300px;
	width:500px;
	
}

span form h1 {
	padding: 0px;
	font-size:20px;
	margin-top: 20px;
	margin-bottom: 5px;
	color:#B3A64D;

}

span form {
	padding: 6px;
	width:300px;
}


span textarea {
	font-size:17px;
	height:145px;
	width: 300px;
	max-width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;
}

#input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;
}



span input[type=comment] {
	height:150px;
	width: 300px;
    padding:12px 20px;
    margin: 8px 0px;
	box-sizing: border-box;
	text-align: inherit;
	outline:1px solid #c0a26c;
}

span button[type=button], input[type=submit], input[type=reset] {
    color: #000;
	width: 150px;
    padding: 16px 32px;
	background-color:#fff;
    text-decoration: none;
    cursor: pointer;
	outline:1px solid #945905;
}

span button:hover {

}

#giwrap {
	width:1300px;
	margin:50px auto auto auto;
	justify-content: space-around;
	display:flex;

}

#giwrap img {
	border-radius:3px;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#giwrap img:hover {
	border-radius:3px;
	transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

#gileft {

	
}

#giright img {

}

#gimid img {

}

#gimid {
	width:350px;
	height:260px;
}

#giright {
	height:260px;
	width:300px;
	
}

.bottom {
	
	margin-top:39px;
}

.donate {
	width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;

}



#img1 {
		display:flex;
	height:250px;
	margin-bottom:20px;
}
#img1 .imgone {
	height:100%;
	max-width:100%;
}
#img1 p {

	padding:8px;
	
}
	#img2 {
		display:flex;
	height:250px;
		margin-bottom:20px;
}
#img2 .imgtwo {
	max-width:100%;
}
#img2 p {
	
	padding:8px;
	
}
	
#img3 {
	display:flex;
	height:250px;
}
#img3 .imgthree {
	max-width:100%;
}
#img3 p {
	
	padding:8px;
	
	
}

.date {
	right:220px;
	position:absolute;
	font-size:12px;
	
}

#img1 h1, #img2 h1, #img3 h1 {
	padding: 0 8px 8px 8px;
	width:80%;
	color:#ff7f1e;
	font-size:16px;
}
	
	
.textbox {
	border-top-right-radius:15px;
	border-bottom-right-radius: 15px;
	max-width:500px;
	border:1px solid #000;
	background-color:#f2f2f2;
	
}

.textbox a {
	margin-left:8px;
}

#newswrap {
	width:1400px;
	margin:25px auto auto auto;
	display:flex;
	justify-content: space-around;
}

#newsleft h1 {
	padding: 0 px 8px 8px;
	width:80%;
	color:#ff7f1e;
	font-size:22px;
	
}
#newsleft {
	
	width:500px;
}

#newsright {
	
	width:800px;
}

#newsright p {
	right:0;
}

#img1 h3, #img2 h3, #img3 h3 {
	padding: 0 8px 8px 8px;
	width:80%;
	color:000;
	font-size:16px;
}
#donateflex {
	width:1000px;
	margin:auto;
	justify-content: space-around;
	display:flex;
}

#donateleft {
	
	width:300px;
}

#topleftdonate {
	
	
}

#radio input[type=radio] {

	
}

#radio ul {
	width:300px;
	margin:auto;
	display:flex;
	justify-content: space-between;
}
#donatemid {
	
	width:300px;
}

#donateright {
	width:300px;
	
}

#donateright span button {
	color:#fff;
	width:300px;
	outline:1px solid #945905;
	margin-top:25px;
	background-color:#FFA614;
}

#donateright h1{
font-size:24px;
	color:#FFA614;

		
}

#donatemid h1{
font-size:24px;
	color:#FFA614;

		
}

#donateleft h1{
font-size:24px;
	color:#FFA614;

		
}

#paymethods {
	width:300px;
	margin:auto;
	
}

#paymethodstop {
	margin:auto;
	justify-content:space-between;
	width:260px;
	display:flex;
}

#paymethodsbot {
	width:260px;
	display:flex;
	margin:20px auto auto auto;
	justify-content:space-between;
}

#galwrap {
	width:1400px;
	margin:auto;
	justify-content: space-between;
	
}

#galwrap h1 {
	font-size:24px;
	color:#FFA614;
}

#gtop {
	margin:auto;
	display:flex;
	justify-content: space-between;
}

#menuToggle {
		display:none;
		weight:0px;
	}
#volunteersection h1 {
	color:#ff7f1e;
	font-size:24px;
}

#volunteersection p {
	
	
}

#volunteersection a {
	color:#ff7f1e;
}
#volunteersection {
	padding:30px;
	border-radius:25px;
	background-color:#f2f2f2;
	width:60%;
	margin:auto;
}
#volunteersection ul li {
	list-style-type:circle;
}




@media(max-width:1024px) and (min-width:768px) {

	
	body {
		background-image:none;
		
	}
	
	main {

		width:800px;
		margin:auto;
	}
	
	#sectionwrapper {
		width:100%;
	}
	section {
		margin:10px auto;
	width:100%;
	}
	
	#wrapper {
		width:100%;

	}
	#quadwrap {
		width:700px;
		display:flex;
		justify-content: space-between;
		margin:auto;
	}
	
	#quadwrap img {
		width:70%;
	}
	
	#left {

	}
	
	#mid {
	
		
	}
	
	#farright {
		
display:none;
		
	}
	
	#farright ul li {
		
	}
	
	
	#right {

	}
	#primaryul {
	width:50%;
}

#primaryul a {
	font-size:8px;
}

.topnav {
	display:none;
}

#primary {
	max-width:100%;
	height:39px;
}

#headerimg {
	display:none;
}




#logo {
	display:none;
	
}

#donate {
	display:none;
	
}
	footer {
	height:15px;
	max-width:100%;
		padding:0;
}
	
	footer img {
		width:10px;
		height:10px;
	}


	#footercontent {
		
		width:100px;
		height:100%;
		align-items:center;

	}
	
	#footercontent a,li {
		font-size:7px;

	}
	
	
	


}

@media (max-width:375px) 
 { 
	
	
#menu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: tomato;
}

#menuToggle
{	
	width:70%;
  display: block;
  position: relative;
  top: 10px;
  left: 4px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
	
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
	
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
	
  position: absolute;
  margin: -100px 0 0 -50px;
  padding: 50px;
	max-width:375px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{

  padding: 10px 10px;
  font-size: 22px;
}
	 


#menuToggle input:checked ~ ul
{
	width:100%;

  transform: none;
}

#logo {
	display:none;
}


#donate {
	display:none;
}



#primary {
	outline:1px solid red;
	padding:0;
	margin:auto;
	width:100%;
}

#primaryul {

	display:none;
}

.topnav {
	display:none;
}

#wrapper {
	width:100%;

}

#quadwrap {
	width:100%;
	display:grid;
	margin:auto;
	justify-content:space-between;

}

#headerimg {
	width:100%;
	display:none;
}


	body {
		background-image:none;
		
	}
	
	main {

		width:100%;

	}
	
	#sectionwrapper {
		width:100%;
	}
	section {
		width:100%;
	}
	
	#wrapper {
	width:100%;

	}
	 #quadwrap {
		 display:block;

		 width:100%;
		 
	 }

#left {
	margin-left:10%;
	width:80%;
}

#mid {
	margin-left:10%;
	width:80%;
	
}

#right {
	margin-left:10%;
	width:80%;
	
}

#farright ul {

	display:block;
	outline:1px solid red;
	
}
	 
	 #newsletter {
		 width:90%;
		 
	 }
	 
	 #farright {
		width:100%;
	 }

footer {
	width:100%;
	height:15%;

	
	
}

body {
	background-image:none;
	width:100%;
	
}

#footercontent {
	width:30%;
	
	
}
	 
	 

#social {
	width:30%;
}
	 
	 #aboutflex {
		 width:100%;
		 
	 }
	 
	 #aboutleft {
		 display:none;
		 
	 }
	 
	 #aboutright {
		 width:100%;
		 margin:auto;
	 }
	 
	 #lpflex {
		 
		 width:100%;
	 }
	 
	 #lpleft {
		 
		 display:none;
	 }
		
	 #lpright {
		 width:100%;
		  
	 }
	 
	 #giwrap {
		margin:auto;
		width:100%;
		display:inline;
		height:100%;
	
		
	 }
	 
	 
	 #gileft {
		
		 display:none;
	 }
	 
	 #giright img {
		 
		 width:100%;
		  padding:0;
		
	 }
	 
	 #gimid {
		 
		 margin:auto;
		 width:100%;
	 }
	 
	 #giright {
		 width:100%;
		 margin:auto;
	 }
	 
	 .bottom {
		 margin-top:520px;
		 padding:0;
		 width:100%;
		 margin-bottom:250px;
		
	 }
	 
	
	 
	#giwrap img 
	 {	
		 width:100%;
		 position:absolute;
	 }
	 
	 
	 
	 
	 
	 
}



